.col {
  padding: 0.5rem;
}

.mw-350px {
  max-width: 350px;
}

#table-container {
  overflow-y: auto;
  max-height: 280px;
}

thead th {
  position: sticky;
  top: 0;
}

@media screen and (max-width: 770px) {
  .row {
    display: block;
  }

  #convert-button,
  #loading-button {
    width: 100%;
  }
}
