.col {
  padding: 0.5rem;
}

#table-container {
  overflow-y: auto;
  max-height: 280px;
}

thead th {
  position: sticky;
  top: 0;
}

select > option {
  font-family: monospace;
}

@media screen and (max-width: 770px) {
  .row {
    display: block;
  }

  #convert-button,
  #loading-button {
    width: 100%;
  }

  #result-container {
    justify-content: center;
  }
}
